{% extends "index.html" %}
{% load static %}
{% block title %}FileBox{% endblock %}



{% block content %}
<style>
  .content__stack {display:flex;}
  .content__stack {flex-direction:column;}
  img {width: 50px;}
</style>
  <div class='container'>
    <div class='content__stack'>
      
      {% for file in content %}
        {% if file.upload %}   
        <a href="{{ file.upload.url }}" download >{% if file.is_img %}<img src="{{ file.upload.url }}">{% endif %}{{ file.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  <form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <input type='submit' value='Загрузить'/>
  <form/>
  </div>

{% endblock %}